<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--
        Java memory arguments (xms, xmx, xmn) formatting
        When setting the Java heap size, you should specify your memory argument using one of the letters m or M for MB, or "g" or "G" for GB.
        Make sure you just use whole numbers - 512m is valid, but 0.5g is not
        Xms - initial size of the Java heap
        Xmx - maximum size to which the Java heap can grow
        -->
        <add key="Xms" value="64m"/>
        <add key="Xmx" value="4g"/>
        <add key="AutoBackup" value="true"/>
        <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
